@charset "UTF-8";

:root{
    --cor1: #2F6132;
    --cor2:#B5E6B8;
    --cor3:#6EE676;
    --cor4:#506651;
    --cor5:#56B35C;
}

body{background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
header{font-size: 1.2em;
    margin-bottom: 9px;
}
header > img {
    margin-left: 20px;
}
 header p {
     font-size: 0.9em;
     margin: -49px 0px 20px 76px;
    }
 nav{margin-top: -48px;
    margin-bottom: 50px;
    text-align: right;

}
 nav > a{
     font-size: 0.7em;
     text-decoration: none;
    font-weight: lighter;
     color: white;
     background-color: var(--cor5);
     padding: 5px;
     border-radius: 5px;
 }
 nav > a:hover{
     background-color: white;
     color: var(--cor1);
 }
 nav h1{
     text-align: center;
 }
 main{
     min-width: 320px;
     max-width: 1300px;
     margin: auto;
     background-color: white;
     border-radius: 15px 15px 0px 0px;
     text-indent: 30px;
     box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.349);
    padding-bottom: 5px;
 }
 main p{
     line-height: 1.5em;
     border-radius: 11px 11px 0px 0px;
     padding-top: 20px;
     padding-bottom: 20px;
}
main main {
    padding-top: 5px;
    background-color:var(--cor1);
    border-radius: 0px;
}
 section{
     text-align: center;
     padding-bottom: 20px;
     margin-bottom: 9px;
 }
 section section{
     background-color: darkgreen;
     padding: 6px;
     border-radius: 5px;
     box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.418);
     font-size: 1em;
     margin-top: 176px;
 }
 p.img{
    background-color: var(--cor1);
    padding: 8px;
 }
 footer{
     padding-top: 30px;
     padding-bottom: 30px;
     background-color: var(--cor2);
     text-align: center;
     margin-top: 30px;
 }
 footer p{
     color: black;
 }
 footer a{
     color: var(--cor4);
     text-decoration: none;
     border-radius: 5px;
     padding: 5px;

 }